*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    // seconary fonts
    font-family: 'Poppins', sans-serif;   // primary fonts
}
body{
     min-height: 100vh;
     min-width: 100vw;
     background: #FC466B;  /* fallback for old browsers */
     background: linear-gradient(to right, #3F5EFB, #FC466B);
}

#LoginPage{
    min-height: 70vh;
    min-width: 70vw;
    background: #351242; 
    overflow: hidden;
    box-shadow: 13px 12px 11px 8px rgba(0, 0, 0, 0.13);

    #parent{
      min-height: 70vh;
      min-width: 70vw;
      #GlassCont{
      min-height: 100%;
      background-image: url("./img/uiLogin.png");
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

       #GlassMorph{
          min-width: 65%;
          min-height: 80%;
         -webkit-backdrop-filter: blur(1rem);
         -moz-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
          background: linear-gradient(to bottom ,rgba(255, 255, 255,0.21), rgba(255, 255, 255, 0.61));
          border-radius: (60px 0px 0px 60px);
          font-size: 20px;
               div{
                  span{
                    i{
                      font-size: 16px;
                      margin-left: -9px;
                    }
                  }
               }
    }
   }
  }
    
    
    #FormCont{
      background: white;
      border-radius: 50px 0px 0px 50px;
         #borderCont{
              height: 94%;
              width: 94%;
              border: 2px solid rgb(170, 170, 170) ;
              border-radius: 40px 0px 0px 40px;

              #LoginHeading,#Form{
                 width: 80%;
                 input[type=text] ,input[type=password] {
                  background-color: #272727;
                  color: white;
                  padding: 0.8rem 0px;
                  border-radius: 5px;
                }
                input[type=submit]{
                  width: 30%;
                  background-color: #272727;
                  padding: 0.8rem 0px;
                  color: white;
                  border-radius: 50px 5px 5px 50px ;
                }
              }
              #otherLogin{
                width: 80%;
                div{
                  width: 30%;
                  color: #272727;
                  div{
                    width: 50%;
                    
                    i{
                      background: #272727;
                      height: 4rem;
                      width: 4rem;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;
                    }
                  }
                }
              }
         }
    }
}